# Python packages and versions used most recently in development
# environment
#
# This list is intended to be for reference only.
# Use the conda environment description file (environment-dev.yaml)
# to create an isolated development environment.

alabaster==0.7.12
appdirs==1.4.3
arrow==0.12.1
asn1crypto==0.24.0
atomicwrites==1.2.1
attrs==18.2.0
Babel==2.6.0
black==18.9b0
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
cliff==2.13.0
cmd2==0.9.4
colorama==0.4.0
coverage==4.5.2
cryptography==2.3.1
cryptography-vectors==2.3.1
docutils==0.14
idna==2.7
imagesize==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
more-itertools==4.3.0
-e NEMO-Cmd==1.3.dev0
packaging==18.0
pbr==4.2.0
pluggy==0.8.0
prettytable==0.7.2
py==1.7.0
pycparser==2.19
Pygments==2.3.0
pyOpenSSL==18.0.0
pyparsing==2.3.0
pyperclip==1.6.4
PySocks==1.6.8
pytest==4.0.1
python-dateutil==2.7.5
python-hglib==2.4
pytz==2018.7
PyYAML==3.13
requests==2.20.1
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.8.2
sphinx-rtd-theme==0.4.2
sphinxcontrib-websupport==1.1.0
stevedore==1.29.0
toml==0.10.0
urllib3==1.23
wcwidth==0.1.7
