# mohid command processor run description file example
#
# Please see
#   http://mohid-cmd.readthedocs.org/en/latest/run_description_file/yaml_file.html
# for detailed documentation.


# The run id value appears in the list of jobs display by the squeue command
run_id: example

paths:
  # Absolute path to MIDOSS-MOHID repository clone.
  # You can use $SCRATCH, $PROJECT, $USER, ~, $HOME in the path, if you wish.
  mohid repo: $PROJECT/$USER/MIDOSS/MIDOSS-MOHID/
  # Directory in which to create temporary run directories
  # Typically NOT inside a version control repository
  runs directory: $SCRATCH/MIDOSS/runs/

forcing:
  # The keys below are the names of symlinks that will be created.
  # The associated values are the targets of those symlinks;
  # e.g. a symlink named winds.hdf5 will be created to
  # $PROJECT/MIDOSS/MIDOSS/forcing/HRDPS/atmosphere_20150408_20150414.hdf5
  #
  # The keys are file names that you use as "FILENAME" values in your
  # .dat files.
  #
  # You only need to include keys that are used in the .dat filess for
  # your run.
  winds.hdf5: $PROJECT/MIDOSS/MIDOSS/forcing/HRDPS/atmosphere_20150408_20150414.hdf5
  currents.hdf5: $PROJECT/MIDOSS/MIDOSS/forcing/SalishSeaCast/hydrodynamics_20150408_20150414.hdf5
  water_levels.hdf5: $PROJECT/MIDOSS/MIDOSS/forcing/SalishSeaCast/hydrodynamics_20150408_20150414.hdf5
