# Python packages and versions used most recently in development
# environment
#
# This list is intended to be for reference only.
# Use the conda environment description file (environment-dev.yaml)
# to create an isolated development environment.
#
# Create/update this file with:
#   (mohid-cmd)$ python3 -m pip freeze --path $CONDA_PREFIX/lib/python3*/site-packages >> envs/requirements.txt

alabaster==0.7.12
appdirs==1.4.3
arrow==0.15.5
attrs==19.3.0
Babel==2.8.0
binaryornot==0.4.4
black==19.10b0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
Click==7.0
cliff==2.15.0
cmd2==0.9.15
colorama==0.4.3
cookiecutter==1.7.0
coverage==5.0.3
cryptography==2.8
docutils==0.16
future==0.18.2
gitdb==4.0.2
GitPython==3.1.0
idna==2.9
imagesize==1.2.0
importlib-metadata==1.5.0
Jinja2==2.11.1
jinja2-time==0.2.0
MarkupSafe==1.1.1
-e MOHID_Cmd==20.1.dev0
more-itertools==8.2.0
mypy-extensions==0.4.3
-e NEMO_Cmd==20.1.dev0
numpy==1.18.1
packaging==20.1
pandas==1.0.1
pathspec==0.7.0
pbr==5.4.2
pluggy==0.13.0
poyo==0.5.0
prettytable==0.7.2
py==1.8.1
pycparser==2.20
Pygments==2.6.1
pyOpenSSL==19.1.0
pyparsing==2.4.6
pyperclip==1.7.0
PySocks==1.7.1
pytest==5.3.5
python-dateutil==2.8.1
python-hglib==2.6.1
pytz==2019.3
PyYAML==5.3
regex==2020.2.20
requests==2.23.0
six==1.14.0
smmap==3.0.1
snowballstemmer==2.0.0
Sphinx==2.4.4
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
stevedore==1.30.1
toml==0.10.0
typed-ast==1.4.1
typing-extensions==3.7.4.1
urllib3==1.25.7
wcwidth==0.1.8
whichcraft==0.6.1
zipp==3.1.0
