# Python packages and versions used most recently in development environment
#
# This list is intended to be for reference only.
# Use the conda environment description file (envs/environment-dev.yaml)
# to create an isolated development environment.
#
# Create/update this file with:
#   (mohid-cmd)$ python3 -m pip list --format=freeze >> envs/requirements.txt

alabaster==0.7.12
arrow==1.2.1
attrs==21.2.0
autopage==0.4.0
Babel==2.9.1
backports.functools-lru-cache==1.6.4
binaryornot==0.4.4
black==21.9b0
brotlipy==0.7.0
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.8
click==8.0.3
cliff==3.9.0
cmd2==2.3.1
colorama==0.4.4
cookiecutter==1.7.3
coverage==6.1.2
cryptography==36.0.0
dataclasses==0.8
docutils==0.17.1
f90nml==1.3.1
gitdb==4.0.9
GitPython==3.1.24
idna==3.1
imagesize==1.3.0
importlib-metadata==4.8.2
iniconfig==1.1.1
Jinja2==2.11.3
jinja2-time==0.2.0
MarkupSafe==1.1.1
more-itertools==8.12.0
mypy-extensions==0.4.3
numpy==1.21.4
packaging==21.3
pandas==1.3.4
pathspec==0.9.0
pbr==5.8.0
pip==21.3.1
platformdirs==2.4.0
pluggy==1.0.0
poyo==0.5.0
prettytable==2.4.0
py==1.11.0
pycparser==2.21
Pygments==2.10.0
pyOpenSSL==21.0.0
pyparsing==3.0.6
pyperclip==1.8.2
PySocks==1.7.1
pytest==6.2.5
pytest-cov==3.0.0
pytest-randomly==3.10.2
python-dateutil==2.8.2
python-hglib==2.6.2
python-slugify==5.0.2
pytz==2021.3
PyYAML==6.0
regex==2021.9.30
requests==2.26.0
rstcheck==3.3.1
setuptools==59.2.0
six==1.16.0
smmap==3.0.5
snowballstemmer==2.2.0
Sphinx==4.3.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
stevedore==3.5.0
text-unidecode==1.3
toml==0.10.2
tomli==1.2.1
typed-ast==1.5.0
typing-extensions==3.10.0.2
Unidecode==1.3.2
urllib3==1.26.7
wcwidth==0.2.5
wheel==0.37.0
zipp==3.6.0
